html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'PT Sans', tahoma, verdana, arial, sans-serif;
}

div.inline { float:left; }
.clearBoth { clear:both; }

a { text-decoration: none; }
a:link { color: #1a93d6; }
a:visited { color:#1a93d6; }
a:active { color: #FF6A40; }
a:hover { text-decoration: none; color:#47bdff; }

h1, h3 {
	font-family: 'PT Sans Narrow', 'Arial Narrow' arial, sans-serif;
	font-weight: bold;
	padding: 0;
	margin-bottom: 7px;
	margin-top: 0;
	text-shadow: 1px 1px 0 #fff;
}

#page {
	height: 100%;
	width: 60%;
	margin: auto;
	background-color: #ffffff;
}

#header { margin-top: 10px; }
#logo { min-width: 15%; }
#title_column { min-width: 75%; }

#title {
	width: 100%;
	text-align: left;
	margin-left: 15%;
}

#title h1 a {
	text-decoration:none;
	color: #706C7E;
}

#menu {
	padding: 10px 10px 10px 10px;
	float: right;
}

#about_menu { width: 100%; text-align:center; }
.about_menu_item { padding-right: 25px; }
#content { padding-top: 10px; }
#content h3 { margin-left: 60px; }
#prizes { width: 100%; text-align: center; margin: 10px 0; }
.prize { height: 225px; }