{namespace mouthpiece.site}

/**
 * Brief summary about contest.
 */
{template .about_brief}
	<div id="about_brief">
		<h3>Пиздато хуячим</h3>
	</div>
{/template}

/**
 * About page contest engine template.
 */
{template .about_detailed}
	<h3>Пиздато хуячим</h3>
{/template}
