{namespace mouthpiece.site}

/**
 * Contacts page contest engine template.
 */
{template .contacts}
	<div id="contacts">
		Связываться с нами не нужно. Вся идея в том, что мы будем связываться с вами.
	</div>
{/template}
