{namespace mouthpiece.site}

/**
 * Contacts page contest engine template.
 */
{template .contacts}
	<div id="contacts">
		<h3>Контакты</h3>
		<p>
			Email: <a href="mailto:mmdc@mirantis.com">mmdc@mirantis.com</a>
		</p>
	</div>
{/template}
