<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title></title>
	<link href="/css/main.css" type="text/css" rel="stylesheet"/>
	<link href="/css/menu.css" type="text/css" rel="stylesheet"/>
	<script type="text/javascript" src="/scripts/soyutils.js"></script>
	<script type="text/javascript" src="/scripts/index.js"></script>
	<script type="text/javascript" src="/scripts/core.js"></script>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,bold&subset=cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold&subset=cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:regular,bold&subset=cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="page">
	<div id="header">
		<div id="logo" class="inline">
			<img src="/images/mirantis.gif" alt="Mirantis" title="Mirantis"/>
		</div>
		<div id="title_column" class="inline">
			<div id="title">
				<h1><a href="#home">Mobile development contest</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="#about">О конкурсе</a></li>
					<li><a href="#register">Регистрация</a></li>
					<li><a href="#news">Новости</a></li>
					<li><a href="#contacts">Контакты</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="content" class="clearBoth">
	</div>
</div>
</body>
</html>