{namespace mouthpiece.site}

/**
 * Main page of contest engine.
 */
{template .index}
	<div id="prizes">
		<img class="prize" src="/images/prize/prize1.jpg" />
		<img class="prize" src="/images/prize/prize2.jpg" />
		<img class="prize" src="/images/prize/prize3.jpg" />
	</div>
	{call .about_brief /}
	{call .news /}
{/template}
