<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>PhDroid</title>

	<script type="text/javascript" src="/scripts/core.js"></script>
	<script type="text/javascript" src="/scripts/soyutils.js"></script>
	<script type="text/javascript" src="/scripts/index.js"></script>

	<script type="text/javascript" src="/scripts/about.js"></script>
	<script type="text/javascript" src="/scripts/contacts.js"></script>
	<script type="text/javascript" src="/scripts/news.js"></script>
	<script type="text/javascript" src="/scripts/register.js"></script>

	<link href="/css/main.css" type="text/css" rel="stylesheet"/>
	<link href="/css/menu.css" type="text/css" rel="stylesheet"/>
	<link href="/css/register.css" type="text/css" rel="stylesheet"/>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,bold&subset=cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold&subset=cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:regular,bold&subset=cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="page">
	<div id="header">
		<div id="logo" class="inline">
			<img src="/images/android_logo.gif" alt="PhDroid" title="PhDroid"/>
		</div>
		<div id="title_column" class="inline">
			<div id="title">
				<h1><a href="#home">PhDroid - premium Android applications</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="#about">About</a></li>
					<li><a href="#news">News</a></li>
					<li><a href="#products">Products</a></li>
					<li><a href="#contacts">Contacts</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="content" class="clearBoth">
		<script type="text/javascript" language="javascript">
			var container = document.getElementById("content");
			soy.renderElement(container, mouthpiece.site.index, {});
		</script>
	</div>
</div>
</body>
</html>