{namespace mouthpiece.site}

/**
 * Main page of contest engine.
 */
{template .index}
	Hello world!
{/template}

/**
 * Register page of contest engine.
 */
{template .register}
	Register here
{/template}