{namespace mouthpiece.site}

/**
 * News page contest engine template.
 */
{template .news}
	<div id="news">
		<h3>Новости</h3>
		<p>18 Мая 2011 - Утвержден рабочий прототип</p>
		<p>17 Мая 2011 - Приняты доработки сайта</p>
		<p>16 Мая 2011 - Стартовала разработка сайта</p>
	</div>
{/template}
